body{
  background-color: rgb(252, 252, 40);

}

p{
  color: black;
  font-size: larger;
  font-family: 'Courier New', Courier, monospace;
}
#box{
  background-color: red;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center; 
  align-content: flex-start baseline;
  flex-wrap: wrap;
}
#box>div{
  background-color: blue;
  height: 100px;
  padding: 10px;
  margin: 10px;
  width: 400px;
}

@media (max-width:1080px){

  #box{
    background-color: black;
  }
  
}